/* Estilos generales para el modal */
:root {
  --colorPrincipal: #fa8e42;
  --colorBoton: #f67600;
  --white: #fff;
  --black: #000;
  --logo: #ff4501;
  --fondoModalEdit: #fb9d5d;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Negro semi-transparente */
  z-index: 999; /* Asegura que esté por debajo del modal */
}

#editContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background-color: var(--fondoModalEdit);
  max-width: 400px; /* Ancho máximo del modal */
  width: 90%; /* Ancho del modal */
}

.modal-content {
  text-align: center; /* Centrar contenido */
}

.modal-content h2 {
  color: #fff;
  margin-bottom: 2rem; /* Color del título */
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  color: var(--black);
  font-size: 1.5rem; /* Color de las etiquetas */
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--colorPrincipal);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde de los campos de entrada */
  border-radius: 5px;
  background-color: transparent;
}

.modal-content button {
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: transparent; /* Color de fondo de los botones */
  color: var(--white); /* Color del texto de los botones */
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Transición suave al pasar el ratón */
}

.modal-content button:hover {
  color: #000; /* Oscurecer el color del botón al pasar el ratón */
}

.container__buton__añadir {
  display: flex;
  justify-content: space-between;
}
